@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Pretendard, system-ui, sans-serif;
  }
}

@font-face {
  /* font-weight: 900; */
  font-family: 'Pretendard-Black';
  src: url('/assets/fonts/Pretendard-Black.subset.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  /* font-weight: 800; */
  font-family: 'Pretendard-ExtraBold';
  src: url('/assets/fonts/Pretendard-ExtraBold.subset.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  /* font-weight: 700; */
  font-family: 'Pretendard-Bold';
  src: url('/assets/fonts/Pretendard-Bold.subset.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('/assets/fonts/Pretendard-SemiBold.subset.woff2') format('woff2');
  /* font-weight: 600; */
  font-style: normal;
}

@font-face {
  /* font-weight: 500; */
  font-family: 'Pretendard-Medium';
  src: url('/assets/fonts/Pretendard-Medium.subset.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('/assets/fonts/Pretendard-Regular.subset.woff2') format('woff2');
  /* font-weight: 400; */
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Variable';
  src: url('/assets/fonts/Pretendard-Variable.subset.woff2') format('woff2');
  /* font-weight: 400; */
  font-style: normal;
}

@font-face {
  /* font-weight: 200; */
  font-family: 'Pretendard-ExtraLight';
  src: url('/assets/fonts/Pretendard-ExtraLight.subset.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Thin';
  src: url('/assets/fonts/Pretendard-Thin.subset.woff2') format('woff2');
  /* font-weight: 100; */
  font-style: normal;
}

